# List Comprehensions

List comprehension in Python is a concise way of creating lists from the ones that already exist. It provides a shorter syntax to create new lists from existing lists and their values.


List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. F

In [11]:
# Grab every letter in string
lst1 = [x for x in "Country"]

In [12]:
# Check
lst1

['C', 'o', 'u', 'n', 't', 'r', 'y']

In [13]:
ls= []
for x in "Country":
    ls.append(x)

In [14]:
ls

['C', 'o', 'u', 'n', 't', 'r', 'y']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [15]:
0 ,1,2,3,4

range(0, 5)

In [18]:
# Square numbers in range and turn into list
lst1 =[x**3 for x in range(0,5)]

In [19]:
lst1

[0, 1, 8, 27, 64]

## Example 3
Let's see how to add in <code>if</code> statements:

In [20]:
# Check for even numbers in a range
lst1 = [x for x in range(20) if x % 2 == 0]

In [21]:
lst1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Example 4
Can also do more complicated arithmetic:

In [22]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [24]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]